@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-brand-primary : #051560;
  --color-brand-secondary: #0f34a8;
  --color-brand-accent: #00e5ff;
  
  /* Semantic Colors */
  --background: #020617;
  --foreground: #ffffff;
  --color-card: #0f172a;
  --color-card-border: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-brand-primary);
  --color-secondary: var(--color-brand-secondary);
  --color-accent: var(--color-brand-accent);
  --color-card: var(--color-card);
  --color-card-border: var(--color-card-border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
